astroid==2.5.6
autopep8==1.5.7
flake8==3.9.1
isort==5.8.0
lazy-object-proxy==1.6.0
mccabe==0.6.1
netifaces==0.10.9
pycodestyle==2.7.0
pyflakes==2.3.1
pylint==2.8.2
toml==0.10.2
tqdm==4.60.0
wrapt==1.12.1
